body {
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

#right header {
    background-color: beige;
    width: 100%;
}

#left {
    height: 90%;
    width: 40%;
}

#left article, #left article img {
    height: 100%;
    width: 100%;
}

#left article img {
    transform: scaleX(-1);
}

#right {
    width: 60%;

}

#top {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}